$base-fontColor: rgba(92, 106, 121, 1);
$base-fontBlack: rgba(28, 42, 57, 1);
$dotColorActiv: rgba(158, 152, 220, 1);
$dotColor: rgba(239, 238, 246, 1);
$borderBtn: rgba(76, 61, 178, 1);
$colorBase: rgb(255, 255, 255);
$colorStars: rgba(242, 201, 76, 1);
$colorStarsEmpty:rgba(238, 237, 245, 1);